*/bin/
*/obj/
*/packages/
/.vs/GT Trace v2/v17/.suo/
/.vs/
/.vs/
*/node_modules/
*/public/build/
*/.DS_Store

# Ignora archivos y carpetas de binarios
bin/
build/
obj/
*.exe
*.dll
*.pdb
*.cache
*.log
*.user

# Ignora archivos de configuración de Visual Studio
.vs/
*.suo
*.csproj.user
*.userprefs
*.psess
*.vsp
*.vspx
*.vssscc
*.vspscc
*.suo

# Ignora archivos de caché y otros archivos generados
*.cache
*.bak
*.class
*.psd
*.db
*.orig
*.tmp
*.tlog
*.generated.cs

# Ignora archivos de respaldo
*~
*.swp
*.bak
*.backup

# Ignora archivos de compilación
*.o
*.lo
*.la
*.al
*.libs
*.so
*.so.*
*.a
*.pyc
*.pyo
*.rej
*.dll
*.lib
*.dylib
*.exp
*.ilk
*.ncb
*.opt
*.pdb
*.plg
*.sbr
*.sdf
*.sln.cache
*.suo
*.tlog
*.idb
*.bsc
*.obj
*.exe
*.ilk
*.pch
*.res
*.scc
*.sln.docstates

# Ignora archivos de NuGet
*.nupkg
packages/
*.nuget.targets
*.nuget.props
*.paket.*
paket-files/
*.bak

# Ignora archivos de prueba
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResults/
*.testsettings
*.coveragexml
coverage/
.nyc_output/

# Ignora archivos de respaldo y temporales de la base de datos
*.mdf
*.ldf
*.ndf
*.bak
*.bakup
*.bak_*
*.trn
*.log

# Ignora archivos de caché de Node.js
.npm/
node_modules/
yarn.lock

# Ignora archivos de herramientas de desarrollo
bower_components/
jspm_packages/
typings/

# Ignora archivos de herramientas de paquetes
*.ps1
*.psm1
*.psc1
*.nuspec
*.sln
*.csproj
*.vbproj
*.vcxproj
*.vcproj
*.pyproj
*.shproj
*.sqlproj
*.dproj
*.manifest
*.xml
*.xaml
*.dtd
*.xsd
*.wsdl
*.map
*.publishsettings
*.settings
*.pubxml
*.pubxml.user
*.pfx
*.p12
*.snk
*.vssettings
*.vssscc
*.cscc
*.metaproj
/GT.Trace.UI.Console/obj/Debug/net6.0/GT.Trace.UI.Console.csproj.AssemblyReference.cache
/GT.Trace.EZ2000.Packaging.Infra/obj/Debug/net6.0/GT.Trace.EZ2000.Packaging.Infra.csproj.AssemblyReference.cache
/GT.Trace.EZ2000.Packaging.Domain/obj/Debug/net6.0/GT.Trace.EZ2000.Packaging.Domain.csproj.AssemblyReference.cache
/GT.Trace.EZ2000.Packaging.App/obj/Debug/net6.0/GT.Trace.EZ2000.Packaging.App.csproj.AssemblyReference.cache
/GT.Trace.Etis.Infra/obj/Debug/net6.0/GT.Trace.Etis.Infra.csproj.AssemblyReference.cache
/.vs/GTT Printing Client/v16/.suo
/.vs/GTT Printing Client/v17/.suo
/GT.Trace.Labels.App/bin/Debug/GT.Trace.Labels.App.dll
/GT.Trace.Labels.App/bin/Debug/GT.Trace.Labels.App.pdb
/GT.Trace.Labels.WpfPrintingClient/obj/Debug/GT.Trace.Labels.WpfPrintingClient.application
/GT.Trace.Labels.WpfPrintingClient/bin/Debug/GT.Trace.Labels.WpfPrintingClient.application
